<div class="container first heading">
    <div class="row">

        <!--Title-->
        <div class="col">
            <h1>The First Heading</h1><span>Will Catch You Eye</span>           
        </div>
        
        <!--Text-content-->
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ducimus porro libero dignissimos quidem minus laudantium eaque. Aspernatur aliquam nisi voluptates, nobis qui laborum expedita atque eligendi eaque quibusdam at.
            </p>

        <!--Image-->
        <div class="col">
            <img src="https://chatgpt.com/backend-api/estuary/content?id=file_00000000978471f4a67200360146cf1e&ts=491275&p=fs&cid=1&sig=e7f382f1288173635b5f1967d54bd283c7e548225841eeff970ba934525af9ac&v=0" alt="" class="avatar">
        </div>    
        </div>
    </div>
</div>