<!-- your html code here -->
<section id="services" class="container pt-5">
    <div class="row">
        <div class="col-6 mx-auto mb-4 col-md-3 mb-md-0 mx-md-0">
            <div class="services-img-2 ratio ratio-1x1 p-0"></div>
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col">
                    <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem architecto cumque cupiditate. Illo nihil sunt tempore fuga laboriosam enim nobis voluptatibus perspiciatis, asperiores ea ad id incidunt repellendus totam voluptates!</p>
                </div>
            </div>
        </div>
    </div>
</section>